---
---

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Evangelical Lutheran Breviary</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ '/css/bootstrap.min.css' | relative_url }}" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/font-awesome/css/font-awesome.min.css' | relative_url }}" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ '/css/material.css' | relative_url }}" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ '/css/animate.min.css' | relative_url }}" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}" type="text/css">
    <link rel="stylesheet" href="{{ '/css/book.css' | relative_url }}" type="text/css">

    <!-- Calendar -->
    <link href="{{ 'fullcalendar/main.css' | relative_url }}" rel='stylesheet' />
    <script src="{{ '/fullcalendar/main.js' | relative_url }}"></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body id="page-top">
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Evangelical Lutheran Breviary</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
		<li>
		    <a class="page-scroll" href="#calendar">Calendar</a>
		</li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

  <header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>Pray without ceasing. In everything give thanks, for this is the will of God in Christ Jesus toward you.</h2>
            <hr>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

  <section id="about">
    <div class="container">
<p><em><b>Evangelical Lutheran Breviary</b></em> is a project to create and compile a complete Liturgy of the Hours in the Lutheran tradition, based on the work done in the publication of Evangelical Lutheran Worship (Augsburg Fortress, 2006) that is entirely in the public domain and in ebook format (primarily .epub). It includes liturgies for each hour, and work is ongoing to add a complete daily lectionary.</p>

<p>The current hymnals and liturgies of the Lutheran churches in North America (Evangelical Lutheran Worship, 2006; Lutheran Service Book, 2006; ReClaim Hymnal, 2006; Evangelical Lutheran Hymnary, 1996; Christian Worship, 1993) are all under copyright and their use is regulated and restricted by their associated churches.</p>

<p>The liturgy and prayers of the church are the gifts of God to and for the people of God. It is my belief that they should be freely available to Christians without monetary cost and without restrictions. Charging money for the use of the liturgies of the church restricts their use to those who can afford to pay for the privilege. Restricting who can use them, and for what purposes, robs the Christian of the freedom to worship as they need.</p>
    </div>
</section>
  <section id="calendar">
  <div id='calendar'></div>
</section>



  <section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Keep In Touch!</h2>
                <hr class="primary">
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/ecumenicallife">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>ecumenicallife</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:ken@ecumenicallife.com">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>ken@ecumenicallife.com</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://gitlab.com/kranos86">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>kranos86</p>
            </a>
        </div>

    </div>
</section>

  <!-- jQuery -->
<script src="{{ '/js/jquery.js' | relative_url }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ '/js/bootstrap.min.js' | relative_url }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ '/js/jquery.easing.min.js' | relative_url }}"></script>
<script src="{{ '/js/jquery.fittext.js' | relative_url }}"></script>
<script src="{{ '/js/wow.min.js' | relative_url }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ '/js/creative.js' | relative_url }}"></script>

</body>

</html>
