<section id="about">
    <div class="container">
<p><em><b>Evangelical Lutheran Breviary</b></em> is a project to create and compile a complete Liturgy of the Hours in the Lutheran tradition, based on the work done in the publication of Evangelical Lutheran Worship (Augsburg Fortress, 2006) that is entirely in the public domain and in ebook format (primarily .epub). It includes liturgies for each hour, and work is ongoing to add a complete daily lectionary.</p>

<p>The current hymnals and liturgies of the Lutheran churches in North America (Evangelical Lutheran Worship, 2006; Lutheran Service Book, 2006; ReClaim Hymnal, 2006; Evangelical Lutheran Hymnary, 1996; Christian Worship, 1993) are all under copyright and their use is regulated and restricted by their associated churches.</p>

<p>The liturgy and prayers of the church are the gifts of God to and for the people of God. It is my belief that they should be freely available to Christians without monetary cost and without restrictions. Charging money for the use of the liturgies of the church restricts their use to those who can afford to pay for the privilege. Restricting who can use them, and for what purposes, robs the Christian of the freedom to worship as they need.</p>
    </div>
</section>