<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>Pray without ceasing. In everything give thanks, for this is the will of God in Christ Jesus toward you.</h2>
            <hr>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
