---
layout: days
---
<div class="container">
<h3 class="lec">Stephen, Deacon and Martyr<div class='rank'>(V)</div></h3>
<h4>26 December</h4>
<h5>2 Chronicles 24:17-22</h5>
<p>Now after the death of Jehoiada, the princes of Judah came, and bowed down to the king. Then the king listened to them. They abandoned the house of <span class='t i'>Yhwh</span>, the God of their fathers, and served the Asherah poles and the idols, so wrath came on Judah and Jerusalem for this their guiltiness. Yet he sent prophets to them, to bring them again to <span class='t i'>Yhwh</span>, and they testified against them; but they would not listen.</p>
<p>The Spirit of God came on Zechariah the son of Jehoiada the priest; and he stood above the people, and said to them, “God says, ‘Why do you disobey <span class='t i'>Yhwh</span>’s commandments, so that you can’t prosper? Because you have forsaken <span class='t i'>Yhwh</span>, he has also forsaken you.’”</p>
<p>They conspired against him, and stoned him with stones at the commandment of the king in the court of <span class='t i'>Yhwh</span>’s house. Thus Joash the king didn’t remember the kindness which Jehoiada his father had done to him, but killed his son. When he died, he said, “May <span class='t i'>Yhwh</span> look at it, and repay it.”</p>

<h5>Psalm 17:1-9, 15</h5>
<div class='q1'>Hear, <span class='t i'>Yhwh</span>, my righteous plea.</div>
<div class='q2'>Give ear to my prayer that doesn’t go out of deceitful lips.</div>
<div class='q1'>Let my sentence come out of your presence.</div>
<div class='q2'>Let your eyes look on equity.</div>
<div class='q1'>You have proved my heart.</div>
<div class='q2'>You have visited me in the night.</div>
<div class='q2'>You have tried me, and found nothing.</div>
<div class='q2'>I have resolved that my mouth shall not disobey.</div>
<div class='q1'>As for the deeds of men, by the word of your lips,</div>
<div class='q2'>I have kept myself from the ways of the violent.</div>
<div class='q1'>My steps have held fast to your paths.</div>
<div class='q2'>My feet have not slipped.</div>
<div class='q1'><b>I have called on you, for you will answer me, God.</b></div>
<div class='q2'><b>Turn your ear to me.</b></div>
<div class='q2'><b>Hear my speech.</b></div>
<div class='q1'>Show your marvelous loving kindness,</div>
<div class='q2'>you who save those who take refuge by your right hand from their enemies.</div>
<div class='q1'>Keep me as the apple of your eye.</div>
<div class='q2'>Hide me under the shadow of your wings,</div>
<div class='q1'>from the wicked who oppress me,</div>
<div class='q2'>my deadly enemies, who surround me.</div>
<div class='q1'>As for me, I shall see your face in righteousness.</div>
<div class='q2'>I shall be satisfied, when I awake, with seeing your form.</div>

<h5 class=>Acts 6:8--7:2a, 51-60</h5>
<p>Stephen, full of faith and power, performed great wonders and signs among the people. But some of those who were of the synagogue called “The Libertines”, and of the Cyrenians, of the Alexandrians, and of those of Cilicia and Asia arose, disputing with Stephen. They weren’t able to withstand the wisdom and the Spirit by which he spoke. Then they secretly induced men to say, “We have heard him speak blasphemous words against Moses and God.” They stirred up the people, the elders, and the scribes, and came against him and seized him, then brought him in to the council, and set up false witnesses who said, “This man never stops speaking blasphemous words against this holy place and the law. For we have heard him say that this Jesus of Nazareth will destroy this place, and will change the customs which Moses delivered to us.” All who sat in the council, fastening their eyes on him, saw his face like it was the face of an angel.</p>
<p>The high priest said, “Are these things so?”</p>
<p>He said, “Brothers and fathers, listen. You stiff-necked and uncircumcised in heart and ears, you always resist the Holy Spirit! As your fathers did, so you do. Which of the prophets didn’t your fathers persecute? They killed those who foretold the coming of the Righteous One, of whom you have now become betrayers and murderers. You received the law as it was ordained by angels, and didn’t keep it!”</p>
<p>Now when they heard these things, they were cut to the heart, and they gnashed at him with their teeth. But he, being full of the Holy Spirit, looked up steadfastly into heaven and saw the glory of God, and Jesus standing on the right hand of God, and said, “Behold, I see the heavens opened, and the Son of Man standing at the right hand of God!”</p>
<p>But they cried out with a loud voice and stopped their ears, then rushed at him with one accord. They threw him out of the city and stoned him. The witnesses placed their garments at the feet of a young man named Saul. They stoned Stephen as he called out, saying, “Lord Jesus, receive my spirit!” He kneeled down, and cried with a loud voice, “Lord, don’t hold this sin against them!” When he had said this, he fell asleep.</p>

<h5>Matthew 23:34-39</h5>
<p>“Therefore, behold, I send to you prophets, wise men, and scribes. Some of them you will kill and crucify; and some of them you will scourge in your synagogues and persecute from city to city, that on you may come all the righteous blood shed on the earth, from the blood of righteous Abel to the blood of Zachariah son of Barachiah, whom you killed between the sanctuary and the altar. Most certainly I tell you, all these things will come upon this generation.</p>
<p>“Jerusalem, Jerusalem, who kills the prophets and stones those who are sent to her! How often I would have gathered your children together, even as a hen gathers her chicks under her wings, and you would not! Behold, your house is left to you desolate. For I tell you, you will not see me from now on, until you say, ‘Blessed is he who comes in the name of the Lord!’”</p>
</div>
