@font-face {
	font-family:'TexGyrePagella';
	font-weight:normal;
	font-style:normal;
	font-variant-ligatures:common-ligatures;
	src:url('../Fonts/texgyrepagella-regular.otf');
}

@font-face {
	font-family:'TexGyrePagella';
	font-weight:bold;
	font-style:normal;
	font-variant-ligatures:common-ligatures;
	src:url('../Fonts/texgyrepagella-bold.otf');
}

@font-face {
	font-family:'TexGyrePagella';
	font-weight:normal;
	font-style:italic;
	font-variant-ligatures:common-ligatures;
	src:url('../Fonts/texgyrepagella-italic.otf');
}

@font-face {
	font-family:'TexGyrePagella';
	font-weight:bold;
	font-style:italic;
	font-variant-ligatures:common-ligatures;
	src:url('../Fonts/texgyrepagella-bolditalic.otf');
}

@font-face {
	font-family:'LibertinusSans';
	font-weight:normal;
	font-style:normal;
	src:url('../Fonts/LibertinusSans-Regular.otf');
}

@font-face {
	font-family:'LibertinusSans';
	font-weight:bold;
	font-style:normal;
	src:url('../Fonts/LibertinusSans-Bold.otf');
}

@font-face {
	font-family:'LibertinusSans';
	font-weight:normal;
	font-style:italic;
	src:url('../Fonts/LibertinusSans-Italic.otf');
}

html {
	font-size:medium;
}

body {
	font-size:1rem;
	line-height:1.4em;
	font-family:TexGyrePagella, serif;
	font-variant-ligatures:common-ligatures;
}

body.copy {
	font-size:0.75rem;
	line-height:1.5em;
	position:absolute;
	bottom:0px;
}

p {
	font-size:1rem;
	display:block;
	margin-top:1em;
	margin-bottom:1em;
	margin-left:0;
	margin-right:0;
}

sup {
	vertical-align:baseline;
	position:relative;
	top:-0.4rem;
}

h1 {
	font-family:LibertinusSans, sans-serif;
	font-size:1.66rem;
	text-align:center;
	font-weight:normal;
	line-height:1em;
	margin-bottom:1em;
	text-transform:uppercase;
}

h1.front {
	font-family:TexGyrePagella, serif;
	font-size:2.5rem;
	line-height:1.4em;

}

h2 {
	font-family:LibertinusSans, sans-serif;
	font-size:1.33rem;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
}

h2.top {
	margin-top:1.5em;
	line-height:1.1em;
}

h2.sub {
	text-align:center;
	font-style:italic;
	line-height:1em;
	margin-top:-1em;
	margin-bottom:1.5em;
}

h2.head {
	font-weight:bold;
	text-align:left;
	margin-top:1.5em;
	margin-bottom:0em;
}

h2.ranks {
	text-align:left;
	font-size:1.25em;
	font-weight:normal;
	color:crimson;
}

h2.front {
	font-family:TexGyrePagella, serif;
	line-height:1.4em;
}

h3 {
	font-family:LibertinusSans, sans-serif;
	font-weight:normal;
	font-size:1.33rem;
	text-align:center;
	text-transform:uppercase;
}

h3.top {
	text-align:left;
	font-weight:bold;
	font-size:1rem;
	margin-top:1.25em;
	margin-bottom:0em;
}

h3.top2 {
	text-align:left;
	font-weight:bold;
	font-size:1rem;
	margin-top:1.25em;
	margin-bottom:0em;
}

h3.top3 {
	text-align:left;
	font-weight:bold;
	font-size:1rem;
	margin-top:1em;
	margin-bottom:0em;
}

h3.top4 {
	text-align:left;
	font-weight:bold;
	font-size:1rem;
	margin-top:0em;
	margin-bottom:0em;
}

h3.sub {
	font-size:1.16rem;
	font-weight:bold;
	font-weight:normal;
	margin-top:0rem;
}

h3.cal {
	color:crimson;
	margin-bottom:0em;
}

h3.lec {
	color:crimson;
	font-size:1.25rem;
	margin-top:1.75em;
	margin-bottom:-1em;
}

h3.lec + h3.sub {
	margin-top:1em;
}

h3.sub + h3.sub {
	margin-top:-1em;
}

h3.lec + h5 {
	margin-top:2em;
}

h3.ranks {
	font-family:LibertinusSans, sans-serif;
	font-size:1.25rem;
	font-weight:normal;
	text-align:left;
	text-transform:none;
}

h4 {
	font-family:LibertinusSans, sans-serif;
	font-weight:normal;
	font-size:1.16rem;
	text-align:center;
	margin-top:1em;
	margin-bottom:1em;
	text-transform:uppercase;
}


h4.top {
	font-size:1rem;
	text-align:left;
}

h5 {
	font-family:LibertinusSans, sans-serif;
	margin-top:1em;
	margin-bottom:0rem;
	font-size:1rem;
	font-style:normal;
	font-weight:bold;
}

h5.cent {
	text-align:center;
}

h5 + p {
	margin-top:0em;
}

.calhead {
	column-span:all;
}

div.cal {
	column-count:2;
	column-width:400px;
}

.ind {
	margin-left:1em;
}

.red {
	color:crimson;
}

.rub {
	font-style:italic;
	font-size:0.83em;
	color:crimson;
	margin-top:0em;
	margin-bottom:0em;
	line-height:1.4em;
}

.rubor {
	font-style:italic;
	color:crimson;
	margin-top:1em;
	margin-bottom:1em;
}



.q1 {
	font-size:1rem;
	text-indent:0em;
	margin-left:0em;
}

.q2 {
	font-size:1rem;
	text-indent:-0em;
	margin-left:1em;
}

.q3 {
	font-size:1rem;
	text-indent:-0em;
	margin-left:0em;
	font-weight:bold;
}

.q4 {
	font-size:1rem;
	text-indent:-0em;
	margin-left:1em;
	font-weight:bold;
}

table.cal {
	vertical-align:top;
	border-collapse:collapse;
	border-style:none;
	border-width:0;
	padding:0;
	margin:0;

}

tr.cal {
	vertical-align:top;
	border-style:none;
	border-collapse:collapse;
	border-width:0;
	padding:0;
	margin:0;
}

td.ind {
	border-style:none;
	border-collapse:collapse;
	border-width:0;
	padding:0;
	margin:0;
	text-indent:-1em;
	padding-left:2em;
}

.small {
	font-size:0.75em;
	line-height:1.25rem;
}

.i {
	font-style:italic;
}

.sc {
	font-variant:small-caps;
}

.uc {
	text-transform:uppercase;
}

.nc {
	text-transform:none;
}

.rank {
	font-size:0.65rem;
}

.space {
	margin-top:2em;
}

.space1 {
	margin-top:1rem;
}

.center {
	display:block;
	margin-top:2rem;
	margin-bottom:2rem;
	margin-left:auto;
	margin-right:auto;
}


p.ritual {
	margin-left:0;
}

img.stauro {
	max-width:50px;
}

.cover {
	width:50%;
	max-width:150px;
	padding-left:25%;
	padding-right:25%;
	margin-top:7em;
	margin-bottom:7em;
}

span.t {
	font-variant:small-caps;
}