@font-face {
	font-family: 'CormorantGaramond';
	font-weight: normal;
	font-style: normal;
	src: url('../Fonts/CormorantGaramond-Medium.otf');
}

@font-face {
	font-family: 'CormorantGaramond';
	font-weight: bold;
	font-style: normal;
	src: url('../Fonts/CormorantGaramond-SemiBold.otf');
}

@font-face {
	font-family: 'QuattrocentoSans';
	font-weight: normal;
	font-style: normal;
	src: url('../Fonts/QuattrocentoSans-Regular.ttf');
}

@font-face {
	font-family: 'QuattrocentoSans';
	font-weight: bold;
	font-style: normal;
	src: url('../Fonts/QuattrocentoSans-Bold.ttf');
}

@font-face {
	font-family: 'EBGaramond';
	font-weight: normal;
	font-style: normal;
	src: url('../Fonts/EBGaramond-Regular.otf');
}

@font-face {
	font-family: 'EBGaramond';
	font-weight: normal;
	font-style: italic;
	src: url('../Fonts/EBGaramond-Italic.otf');
}

@font-face {
	font-family: 'EBGaramond';
	font-weight: bold;
	font-style: normal;
	src: url('../Fonts/EBGaramond-Bold.otf');
}

@font-face {
	font-family: 'EBGaramond';
	font-weight: bold;
	font-style: italic;
	src: url('../Fonts/EBGaramond-BoldItalic.otf');
}

@font-face{
	font-family: 'EBGaramond';
	font-weight: 500;
	font-style: normal;
	src: url('../Fonts/EBGaramond-SemiBold');
}

@font-face {
	font-family: 'LibreBaskerville';
	font-weight: normal;
	font-style: normal;
	src: url('../Fonts/LibreBaskerville-Regular.ttf');
}

@font-face {
	font-family: 'LibreBaskerville';
	font-weight: normal;
	font-style: italic;
	src: url('../Fonts/LibreBaskerville-Italic.ttf');
}

@font-face {
	font-family: 'LibreBaskerville';
	font-weight: bold;
	font-style: normal;
	src: url('../Fonts/LibreBaskerville-Bold.ttf');
}

@font-face {
	font-family: 'P052';
	font-weight: normal;
	font-style: normal;
	src: url('../Fonts/P052-Roman.otf');
}

@font-face {
	font-family: 'P052';
	font-weight: bold;
	font-style: normal;
	src: url('../Fonts/P052-Bold.otf');
}

@font-face {
	font-family: 'P052';
	font-weight: normal;
	font-style: italic;
	src: url('../Fonts/P052-Italic.otf');
}

@font-face {
	font-family: 'P052';
	font-weight: bold;
	font-style: italic;
	src: url('../Fonts/P052-BoldItalic.otf');
}

body {
	line-height: 1.25;
}


h1.top {
	font-family: P052, serif;
	font-weight: 500;
	text-transform: uppercase;
}

h2 {
	font-family: P052, serif;
}

h2.top {
	margin-top: 2em;
	text-align: center;
	font-family: P052, serif;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.1em;
}

h2.sub {
	font-family: P052, serif;
	
}

h3 {
	font-size: x-large;
	font-family: QuattrocentoSans;
}

h3.top {
	margin-top: 2em;
	font-size: large;
	font-weight: bold;
	text-transform: uppercase;
}

h3.top2 {
	margin-top: 1em;
	font-size: large;
	font-weight: bold;
	text-transform: uppercase;
}

h4 {
	font-family: QuattrocentoSans, sans-serif;
}

h4.top {
	font-size: large;
	font-family: QuattrocentoSans, sans-serif;
	font-weight: bold;
}

h5 {
	font-family: QuattrocentoSans;
}


p {
	font-family: P052, serif;
	font-size: medium;
}

div {
	font-family: P052, serif;
	font-size: medium;
}

.rub {
	font-family: P052, serif;
	font-style: italic;
	font-size: small;
	color: red;
}

.rubor {
	font-family: P052, serif;
	font-style: italic;
	color: red;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: inherit;
}

.rite {
	margin-left: 2.5em;
}

.ritual {
	margin-left: 2.5em;
}
