<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include about.html %}
  {% include calendar.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
